#header{
    display: flex;
    justify-content: center;
    background-color: #ffd763;
    padding: 3em;
    
}

.justified{
    text-align: justify;
    line-height: 1.5em;
    margin: 2em;
}

#first-img{
    display: flex;
   
    justify-content: center;

}

.box{
    display: flex;
    justify-content: space-around;
    background-color: #467fa8;
    padding: 2em;
    
    color: white
}
h3{
    text-align: center;
}

.img-list{
    width: 10em;
    height: 10em;
}
#mainMinions{
    color: white;
}
