#header{
    display: flex;
    justify-content: space-between;
    background-color: #ffd763;
    padding: 3em;
    
}
#header img{
  
    height: 5em;
}

.justified{
    text-align: justify;
    line-height: 1.5em;
    margin: 2em;
}

#first-img{
    display: flex;
    justify-content: center;

}

.box{
    display: flex;
    justify-content: space-around;
    background-color: #467fa8;
    padding: 2em;
    
    color: white
}

table{
    width: 50%;
    padding-top: 3em;
}
h3{
    text-align: center;
}

ol{
    line-height: 2.0;
}
.img-list{
    width: 10em;
    height: 10em;
}
#mainMinions{
    color: white;
    text-align: center;
    margin-top: 2em;
   
}
.session3{
    padding: 2em;
    display: flex;
    justify-content: space-between;
    
}
.boxleft, .boxright{
    width: 50%;
    display: flex;
    justify-content: center;
 
}
#final-session{
    padding: 2em;
}
.box1{

    display: block;
    justify-content: center;
}
#session2{
    background-color: gray;
    color: beige;
    padding: 2em
}
