body{
    width: 100%;
}
h3{
    text-align: center;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: #ffd763;
    padding: 3em;
    
}
#header img{
  
    height: 5em;
}

.justified{
    text-align: justify;
    line-height: 1.5em;
    margin: 2em;
}

#first-img{
    display: flex;
    justify-content: center;

}

.session1{
    background-color: #467fa8;
    color: white;

}
.box{
    display: flex;
    justify-content: space-around;
    padding: 2em;  
}
.box1{
    display: block;
    justify-content: center;
}

#main-minions{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    
}

#table-minions{
    color: white;
    text-align: center;
    margin-top: 2em;
   
}
.img-list{
    width: 10em;
    height: 10em;
}

table{
    width: 60%;
    padding-top: 3em;
}

.session2{
    background-color: gray;
    color: beige;
    padding: 2em
}
ol{
    line-height: 2.0;
}

.session3{
    padding: 2em;
    display: flex;
    justify-content: space-between;
    
}
.boxleft, .boxright{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.final-session{
    padding: 2em;
}


